target
.history
bin
logs
.cache

# Eclipse
.project
.classpath
.settings

# IntelliJ
.idea
.idea_modules
atlassian-ide-plugin.xml

#JS
scalajvm/public/plugins
node_modules
bower_components
.sass-cache
.tmp
npm-debug.log
