
  <div class="height100p parallax-background roomsImagesSlider animated parallax__layer parallax__layer--back"  style="background-image: url('{{activeRoom.imagePath}}');" ng-show="activeRoom.step == 0"></div>
  <div class="height100p parallax-background roomsImagesSlider animated parallax__layer parallax__layer--back"  style="background-image: url('{{activeRoom.imagePath1}}');" ng-show="activeRoom.step == 1"></div>
<div class="absolute zIndex2 homeRoomTitle float-left">
  <h1 class="float-left marginTop0 column large-12">BIENVENUE</h1>
  <b>orem ipsum dolor sit amet, consectetur adipiscing elit.</b>
</div>
<div class="parallax-content column large-12 zIndex3">
  <div class="white width100p float-left">
    <div class="column large-12 mainText">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium ullamcorper massa, sit amet ornare erat blandit ut.
    Sed non placerat nulla. Maecenas fringilla feugiat tortor. Nulla id velit eu erat varius venenatis. Mauris sed nisl neque.
    *Integer elementum erat at quam pretium molestie. Morbi commodo dui quam, a feugiat lectus suscipit ut. Nam faucibus, urna non faucibus
    sollicitudin, risus lacus tincidunt leo, a efficitur dolor tellus vitae enim. Aenean nec fringilla elit, a fringilla justo. Pellentesque elit ipsum,
    pulvinar eget urna sed, auctor posuere massa. Morbi mollis facilisis nisl at laoreet. Nunc orci erat, dignissim ac nisi ac, pellentesque egestas ex.
    Proin sed dolor nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </div>
    <div class="column large-12 mainText">
    Fusce at felis neque. Phasellus magna nunc, congue quis mi at, tempor tincidunt dolor. Pellentesque viverra finibus neque ut scelerisque. Quisque sed
    nisi dictum, bibendum tortor laoreet, molestie leo. Curabitur non libero ullamcorper, volutpat ipsum eget, vestibulum sem. In fermentum, dolor sit amet
    tincidunt porta, metus turpis tempus nibh, in dictum mi est vitae lorem. Curabitur consequat odio sapien, auctor aliquet libero placerat suscipit. Quisque
    pretium tortor sed aliquet eleifend. Mauris varius lacus mauris, nec aliquet lorem euismod a. Nam non orci nec augue laoreet porttitor id ac enim. Cras vitae
    nibh nec dolor ullamcorper posuere et quis enim. Quisque vel velit et augue tristique bibendum. Sed nibh libero, finibus sit amet elit egestas, placerat
    pellentesque elit. Suspendisse molestie metus ut lacus egestas iaculis.
    </div>
  </div>
  <h1 class="column large-12 text-center margin0 textColorWhite mainTitles">NOS CHAMBRES</h1>
  <div class="width100p white float-left grid">
    <figure class="effect-layla column large-6 medium-6 roomMinHome roomImage padding0 margin0" data-ng-repeat="room in rooms">
      <img src="{{room.images[0]}}" alt="{{room.name}}"/>
      <figcaption>
        <h2><span class="textColorWhite">{{room.name}}</span></h2>
        <p>When Layla appears, she brings an eternal summer along.</p>
        <a href="#/rooms/{{room.id}}">View more</a>
      </figcaption>
    </figure>
  </div>

  <h1 class="column large-12 text-center margin0 textColorWhite mainTitles">NOS SERVICES</h1>
  <div class="width100p white float-left grid">
    <figure class="effect-layla column large-3 medium-6 roomMinHome roomImage padding0 margin0" data-ng-repeat="room in rooms">
      <img class="width100p" src="{{room.images[0]}}" alt="{{room.name}}"/>
      <figcaption>
        <h2><span class="textColorWhite">{{room.name}}</span></h2>
        <p>When Layla appears, she brings an eternal summer along.</p>
        <a href="#/rooms/{{room.id}}">View more</a>
      </figcaption>
    </figure>
  </div>

  <h1 class="column large-12 text-center margin0 textColorWhite mainTitles">A PROXIMITE</h1>
  <div class="width100p float-left" style="height: 800px">
    <ng-map
    class="width100p white float-left"
    center="45.7743869,4.8628751"
    zoom="14"
    max-zoom="14"
    min-zoom="14"
    disable-default-u-i="true"
    style="height: 100%"
    scrollwheel="false"
    styles="[
                 {
                     stylers:[
                         {hue:'#00654C'},
                         {visibility:'simplified'},
                         {gamma:0.5},
                         {weight:0.5}
                     ]
                 },
                 {
                    elementType:'labels',
                    stylers:[
                        {visibility:'off'}
                    ]
                },
                {featureType:'water',
                    stylers:[
                        {color:'#008CBA'}
                    ]
                }
            ]">
      <marker position="45.7743869,4.8628751">

      </marker>
      <custom-marker position="45.779512, 4.851680">
        <div>
          <div class="margin0" style="font-size: 14px">
            <b class="padding20 pointer"><a href="http://www.loisirs-parcdelatetedor.com/" target="_blank">Parc de la tête d'or</a></b>
          </div>
        </div>
      </custom-marker>
      <custom-marker position="45.7655929,4.8796604">
        <div>
          <div class="margin0" style="font-size: 14px">
            <b class="padding20 pointer"><a href="http://www.tnp-villeurbanne.com" target="_blank">Théâtre national populaire</a></b>
          </div>
        </div>
      </custom-marker>
      <custom-marker position="45.7665442,4.9076622">
        <div>
          <div class="margin0" style="font-size: 14px">
            <b class="padding20 pointer"><a href="http://www.asvelbasket.com" target="_blank">Astroballe</a></b>
          </div>
        </div>
      </custom-marker>
      <custom-marker position="45.7864864,4.8941517">
        <div>
          <div class="margin0" style="font-size: 14px">
            <b class="padding20 pointer"><a href="http://www.pucesducanal.com" target="_blank">Puces du Canal</a></b>
          </div>
        </div>
      </custom-marker>
  </ng-map>
  </div>
  <h1 class="column large-12 text-center margin0 textColorWhite mainTitles">LES AVIS</h1>
  <comments class="column large-12 float-left white" ng-controller="commentsController"></comments>
  <div class="paddingSearchMin white"></div>
</div>
