

<md-fab-speed-dial md-open="roomsNavIsOpen" md-direction="down"
                   class="md-fling float-left">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab primCol">
      <md-icon md-svg-src="assets/images/menu.svg"></md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <a data-ng-repeat="room in rooms" href="#/rooms/{{room.name}}">
      <h3 ng-class="{'animated fadeOut': !roomsNavIsOpen, 'animated fadeIn': roomsNavIsOpen}">{{room.name}}</h3>
    </a>
  </md-fab-actions>
</md-fab-speed-dial>
