<md-card class="shadow">
  <img ng-src="{{room.images[0]}}" ng-href="#/rooms/{{room.id}}" class="md-card-image room-image" alt="Washed Out">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline column large-12"><a href="#/rooms/{{room.id}}">{{room.name}}</a></span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <i class="fa fa-eur"></i> : {{room.price}} / Nuit
    <p>
      {{room.presentation | limitTo: 150}}...
    </p>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-if="!isDisable" class="primCol" ng-click="directive.openModal(room)">Reserver</md-button>
    <md-button ng-if="isDisable" class="md-disabled" ng-disabled="true">Indisponible sur cette periode</md-button>
  </md-card-actions>
</md-card>
