@()
<!DOCTYPE html>
<html lang="en" ng-app="todomvc" data-framework="angularjs">
<head>
  <meta charset="utf-8">
  <title>Des toits en ville</title>

  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/tools.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/angular-material.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

  @*<script src="http://maps.google.com/maps/api/js"></script>*@

  <script src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>
  <script src="@routes.Assets.versioned("plugins/angular.min.js")"></script>
  <script src="@routes.Assets.versioned("plugins/angular-animate.min.js")"></script>
  <script src="@routes.Assets.versioned("plugins/angular-aria.min.js")"></script>
  <script src="@routes.Assets.versioned("plugins/angular-material.min.js")"></script>
  <script src="@routes.Assets.versioned("plugins/mm-foundation.min.js")"></script>
  <script src="@routes.Assets.versioned("plugins/angular-route.min.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/todomvc-client-fastopt.js")"></script>
  <script src="@routes.Assets.versioned("javascripts/todomvc-client-launcher.js")"></script>
  @*<script src="@routes.Assets.versioned("plugins/ng-map.min.js")"></script>*@
  <style>[ng-cloak] { display: none; }</style>
</head>
<body>

  <div class = "float-right margin50 paddingRight10">
    <a href="/contact" class = "padding10">Contact</a>
    <a href="/services" class = "padding10">Services</a>
    <a href="/mentionsLegales" class = "padding10">Mentions légales</a>
  </div>



  <div ng-view=""></div>



  <data-search-bar></data-search-bar>


</body>
</html>
